# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.pytest_cache
.cache
.coverage

# OS-specific files
.DS_Store
Thumbs.db

# Project-specific logs and outputs
outputs/service_log.csv
outputs/vision_inference_log.csv
